* {
    font-family: Arial;
    background-color: rgb(34, 31, 31);
     padding: 0px;
}    margin: 0px;
.h{
    color: purple;
}
p {
    color: white;
    font-size: medium;
}
img {
    width: 35%;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    margin-top: 30px;
}
li {
    list-style: none;
    padding: 10px;
    background-color: purple;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 15px;
    color: white;
}
div {
    width: 320px;
    text-align: center;
}
